<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="robot_ros2_control">

    <ros2_control name="robot_ros2_control" type="system">

      <hardware>
        <plugin>odrive_ros2_control_example/RobotHardwareInterface</plugin>
        <param name="debug">1</param>
      </hardware>

      <joint name="arm">
        <!-- Parameters -->
        <param name="node_id">0</param>
        <param name="reduction_ratio">1</param>
        <param name="velocity_limit">10</param>
        <param name="effort_limit">5</param>
        <!-- Command Interfaces (Input) -->
        <command_interface name="position" data_type="double"/>
        <command_interface name="velocity" data_type="double"/>
        <command_interface name="effort" data_type="double"/>
        <!-- State Interfaces (Output) -->
        <state_interface name="position" data_type="double">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity" data_type="double">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort" data_type="double">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="ready" data_type="bool">
          <param name="initial_value">false</param>
        </state_interface>
        <state_interface name="error" data_type="bool">
          <param name="initial_value">false</param>
        </state_interface>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
